.welcome-content {
  padding: 1rem 2rem;
  background-image: url(/assets/background/bg-pattern.png),linear-gradient(180deg,#e70112 16%,#b20722 76%);
}

.welcome-content .subtitle {
  display: block;
  text-align: center;
  color: var(--white-color);
  font-size: var(--medium-font-size);
  font-weight: var(--regular-font-weight);
}

.welcome-content .title {
  display: block;
  text-align: center;
  color: var(--white-color);
  line-height: 1;
  font-size: var(--large-font-size);
  font-weight: var(--extra-bold-font-weight);
}

.welcome-content p {
  text-align: justify;
  color: var(--white-color);
  font-size: var(--normal-font-size);
  font-weight: var(--light-font-weight);
}