.card-item {
  display: grid;
  padding: 30px 20px;
  overflow: hidden;
  position: relative;
  margin: 0 15px 0;
  overflow: hidden;
  border-radius: 28px;
  height: 130px;
  grid-template-columns: 70px 1fr;
  gap: 1rem;
  align-items: center;
  background-image: url(/assets/background/bowser-bg.png);
  background-size: contain;
}

.card-item .image {
  width: 70px;
  animation: shake 1s ease-in infinite;
}

.card-item .title {
  display: block;
  text-align: left;
  color: var(--white-color);
  line-height: 1;
  font-size: var(--big-font-size);
  font-weight: var(--bold-font-weight);
  background: linear-gradient(to left, transparent, var(--primary-color));
  padding-left: 0.4rem;
}

.card-item .subtitle {
  display: block;
  text-align: left;
  color: var(--yellow-star-color);
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
  margin-top: .5rem;
  background: linear-gradient(90deg, var(--blue-color) 78%, transparent 100%);
  padding-left: 0.4rem;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}